@font-face {
  font-family: 'Kumbh Sans';
  src: url('/fonts/kumbh-sans-400.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('/fonts/kumbh-sans-700.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}