@import "./reset.css";
@import "./fonts.css";
@import "./tokens.css";


body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-100);
  font-weight: var(--font-weight-regular);
  background-color: var(--color-surface-page);
  color: var(--color-text-primary);
}

.container {
  --gutter-padding: var(--space-400);

  inline-size: min(calc(100% - var(--gutter-padding)), 43.0625rem);
  margin-inline: auto;
}



@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    /* Disable animations and transitions for users who prefer reduced motion */
    animation: none;
    transition: none;
    scroll-behavior: auto;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    /* Enable smooth scrolling when motion is allowed */
    scroll-behavior: smooth;
  }
}